body {
  margin: 0;
}

h5, h6 {
  font-family: 'Rubik', sans-serif;
  text-align: center;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 2em;
  margin: 0;
  color: #27496d;
}

h3 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 1.5em;
  margin: 0;
  color: #27496d;
  padding-bottom: 5%;
}

h4 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 1em;
  margin: 0.5%;
  color: #000000;
}

h1 {
  font-size: 3.5em;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  margin: 0
}

p {
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
}

.header {
  padding: 22.5% 15% 25% 15%;
  background-color: #142850;
  color: #FFFFFF;
}

.header h4 {
  color: #FFFFFF;
}

.profile {
  padding: 5% 15% 5% 15%;
  margin: 0;
}

.profile-container {
  padding: 3% 5% 5% 5%;
  text-align: center;
}

.developer-icon {
  border-radius: 100%;
  position: relative;
  width: inherit;
  display: block;
  margin: auto;
  border: 10px solid;
}

.experiences {
  padding: 5% 15% 5% 15%;
  background-color: #27496d;
}

.experiences h2 {
  color: #FFFFFF;
}

.experiences p {
  color: #FFFFFF;
  margin: 0;
}

.experiences h4 {
  color: #FFFFFF;
  font-style: italic;
  margin: 0;
}

.experiences h1 {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 1.5em;
  margin: 0;
  padding-top: 2%;
  padding-bottom: 2%;
  color: #FFFFFF;
}

.experiences h3 {
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 1em;
  padding-bottom: 0;
  font-weight: bold;
}

.exp-data{
  padding: 1% 7.5% 1% 7.5%;
}
